* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
body{
    background-color: aqua;
}
main{
    width: 90%;
    margin: auto;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    place-items: center;
}
/* form{
    width: 100%;
    background-color: red;
    border-radius: 5px;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    
} */
form{
    width: 100%;
    border-radius: 5px solid black;
    background-color: antiquewhite;
    padding: 2rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "nombre"
    "inputNombre"
    "telf"
    "inputTelef"
    "email"
    "inputEmail"
    "mensaje"
    "textoMensaje"
    "cursos"
    "select"
    "submit";
    gap: 5rem;
}
