h1 {
  color: dimgrey;
}

a:link {
    color: aqua;
    
  }
a::visited {
  color: green;
  text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
a:active{
    color:red;
}
