* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
}

#cf {
  /* padding-top: 5px; */
  width: 800px;
  margin: auto;
  /* background: linear-gradient(to top,white,grey); */
  /* background-color: whitesmoke; */
}

#cf p {
  /* color: rgb(0, 178, 233); */
  padding: 3px 5px 3px;
  float: left;
}

#cf ul {
  /* border-radius: 10px; */
  padding: 3px 5px;
  text-align: right;
}
#cf li {
  display: inline-block;
}

/* MENU navegacion */
nav {
  width: 100%;
  position: fixed;
  background: linear-gradient(to top, rgb(199, 237, 247), whitesmoke);
}
#naveg {
  padding: 5px 0;
  width: 800px;
  margin: auto;
  /* background: linear-gradient(to top,rgba(128, 128, 128, 0.993),whitesmoke); */
  /* background-color: aquamarine; */
}
#naveg img {
  width: 80px;
  text-align: left;
}
#naveg ul {
  width: 530px;
  text-align: right;
  float: right;
  margin-top: 20px;
}
#naveg ul li {
  display: inline-block;
  padding: 10px;
  /* padding: 10px 5px 15px 25px; */
  color: rgba(248, 110, 46, 0.993);
  font-size: 19px;
}
#naveg li:hover {
  background: radial-gradient(rgb(80, 204, 253), transparent);
  border-radius: 10px;
}

/*CONTENIDO*/
#home {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9),
      rgba(47, 47, 47, 0.3)
    ),
    url(../images/cab.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
  height: 700px;
}

#cp {
  /* background-color: aqua; */
  float: right;
  /* padding-top: 50px; */
  margin: 390px 10px;
}
#p1 {
  color: orange;
  font-size: 35px;
}
#cp h1 {
  color: white;
  font-size: 65px;
  width: 650px;
}
#p2 {
  background-color: orange;
  color: aliceblue;
  width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-size: 35px;
}

/*section sobre nosotros */
#sobre{
padding: 50px 0;
/* width: 800px; */
/* margin: auto;  */
background: linear-gradient(to top, rgb(199, 237, 247), rgb(44, 218, 241));
height: 500px;
}

#sobre figure img{
width: 400px;
float: left;
border-radius: 5px;
padding-right: 20px;
}
#simg h2{
  color: orange;
  font-size: 19px;
}
#simg #qs1 {
  color: white;
  font-size: 45px;
  /* width: 650px; */
}

#simg #qs2 {
  color: black;
  font-size: 20px;
  /* width: 650px; */
}

.paralax{
  /* width: 100%; */
  height: 500px;
  background-image: url(../images/parallax.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#servicios{
  background: linear-gradient(to top, rgb(199, 237, 247), rgb(44, 218, 241));
}


