h1{
    text-align: center;
    /* SOMBRAS AL TEXTO 
    movemos 2px a la derecha eje X (-2 mover a la izquierda), luego 2px que seria el eje Y hacia abajo, luego 2px para el valor de blur(difuminado)*/
    text-shadow: 2px 4px 2px rgb(86, 198, 212);
    font-size: 45px;
    color: coral;
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    /* SOMBRA AL DIV
    2px sobre el eje X, 2px sobre el eje Y, 2px para el blur(difuminado), 3px para hacer mas grande la sombra (propiedad spread=propagar) y por ultimo darle color  */
    box-shadow: 2px 2px 2px 3px grey;
    color:#457b9d;
}
div.contenedor img{
    width: 100%;
}
div.cabecero{
    background-color: #4cc9f0;
    border-radius: 15px;
}
div.cuerpo{
    padding-top: 2px;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px grey;
}