* {
  margin: 0;
  padding: 0;
}
body {
  /*  Aprovechamos que en CSS3 podemos usar varias imágenes de fondo para convertir la imagen en una falsa escala de grises usando 
    linear-gradient y background-blend-mode: saturation; 
    opcional------- después le aplicamos por encima color con una sombra interna usando box-shadow. */
  background-image: linear-gradient(black, black),
    url(../images/margaritas-semillas.jpg);
  background-blend-mode: saturation;
  /* box-shadow: inset 0px 0px 3000px 3000px rgba(2, 34, 58, 0.6); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
}
/* contenedor=main principal aplicar display:flex; */
main {
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  width: 60%;
  margin: auto;
  color: white;
}

/* segundo contenedor= section tambien aplicamos display:flex; */
section {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: row wrap;
  margin: 15px 0;
  width: 100%;
}
/* --------------------formato para sección de la izquierda imagen ramo--------- */
section article {
  width: 47%;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  color: black;
  margin: 10px;
}
section article figcaption {
  text-align: center;
}
section figure img {
  width: 100%;
}
/*-------------------------------- formato para el formulario------------------- */
section form {
  width: 50%;
  /* margin: 5px; */
  /* padding-right: 5px; */
}
fieldset{
  padding-left: 10px;
}
span{
  font-family: "Playwrite IS", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}
/* -------------------------------------seccion Ramos -----------------------------*/
.ramos{
  display: flex;
  flex-flow: column wrap;
}
.rosas{
  display: flex;
  flex-flow: row wrap;

}
.rosas > div{
  width: 140px;
}
.complementos{
  display: flex;
  flex-flow: row wrap;
  column-gap: 5%;
}

/* --------------------------Seccion Tus datos---------------- */

.datos{
  display: flex;
  flex-flow: column wrap;
}

.datos input[type=text]{
  width: 70%;
}
.tel_email{
  display: flex;
  flex-flow: row wrap;
  column-gap: 5%;
  width: 100%;
}
.telefono {
width: 30%;
}
.email {
 width: 50%;
}
.telefono input[type=tel]{
  width: 100%;
} 
.email input[type=email]{
  width: 100%;
} 
/*--------------------- formato Entregar a  -----------------------*/
.contenedor_entrega {
  display: flex;
  flex-flow: column wrap;
}
.contenedor_entrega input[type=text]{
  width: 60%;
}
.contenedor_entrega .env_postal {
  display: flex;
  flex-flow: row wrap;
  column-gap: 5%;
}

.direccion{
  flex-basis: 60%;
}
.postal{
  flex-basis: 30%;
}
.direccion input[type=text]{
  width: 100%;
} 
.postal input[type=text]{
  width: 60%;
}

.pobla_prov , .fecha_horario{
  display: flex;
  flex-flow: row wrap;
  column-gap: 5%; 
}

.poblacion, .provincia{
  width: 30%;
}
.poblacion input[type="text"], .provincia input[type="text"] {
  width: 100%;
}

.entrega, .hora{
  width: 30%;
}

.fecha_horario input[type=date], .fecha_horario select{
  width: 100%;
}

/* ---------------------------forma de pago ---------------*/

.fpago{
  display: flex;
  column-gap: 15px;
}


/* -----------------------botones enviar y reset------------- */

.botones{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px;
  /* margin: 15px; */
  cursor: pointer;
  border-radius: 10px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
input[type="reset"]:hover {
  background-color: rgba(190, 25, 58, 0.89);
}


/*----------------- formato para header y footer ------------------------*/
header,
footer {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
}

header > h1 {
  margin: 10px 0;
  text-align: center;
  font-family: "Playwrite IS", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
footer p {
  margin: 10px ;
  text-align: right;
  vertical-align: sub;
}
