* {
  margin: 0;
  padding: 0;
}
body {
  /*  Aprovechamos que en CSS3 podemos usar varias imágenes de fondo para convertir la imagen en una falsa escala de grises usando 
    linear-gradient y background-blend-mode: saturation; 
    opcional------- después le aplicamos por encima color con una sombra interna usando box-shadow. */
  background-image: linear-gradient(black, black),
    url(../images/margaritas-semillas.jpg);
  background-blend-mode: saturation;
  /* box-shadow: inset 0px 0px 3000px 3000px rgba(2, 34, 58, 0.6); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 30px;
}
/* contenedor=main principal aplicar display:flex; */
main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 70%;
  margin: auto;
  color: white;
}

/* segundo contenedor= section tambien aplicamos display:flex; */
section {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  margin: 15px 0;
  width: 100%;
}
/* formato para sección de la izquierda imagen ramo */
section article {
  width: 50%;
  background-color: white;
  color: black;
  margin: 10px;
}
section article figcaption {
  text-align: center;
}
section figure img {
  width: 100%;
}
/* formato para el formulario */
section form {
  width: 50%;
  margin: 5px;
  padding-right: 5px;
}
fieldset {
  padding: 10px;
}
/* seccion Ramos */
fieldset .label_radio {
  display: inline-block;
  width: 28%;
}
fieldset .label_checkbox {
  display: inline-block;
  width: 15%;
}
/* Seccion Tus datos */
fieldset .txt_tus_datos {
  width: 75%;
}
.telefono {
  float: left;
  padding-right: 20px;
}
.txt_email {
  width: 45%;
}
/* formato Entregar a  */
.contenedor_entrega {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  /* align-items: flex-start;  */
}
.contenedor_entrega input[type="text"] {
  /* flex-basis: 60%; */
  width: 60%;
}

/* .postal {
  position: absolute;
  left: 70%;
  top:33%;
} */
.contenedor_entrega .env_postal {
  display: flex;
}
.contenedor_entrega .pobla_prov{
  display: flex;
}
.contenedor_entrega .fecha_horario{
  display: flex;
}
/* .poblacion, .provincia, .entrega, .horario{
padding-top: 2px;
 width:  60%;
}

 .provincia{
  position: absolute;
  left: 45%;
  top:57%;
 }
 .horario{
  position: absolute;
  left: 30%;
  top:80%;
 } */

input[type="submit"],
input[type="reset"] {
  /* margin: auto; */
  padding: 5px;
  margin: 15px;
  cursor: pointer;
  border-radius: 4px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
input[type="reset"]:hover {
  background-color: rgba(190, 25, 58, 0.89);
}

/* formato para header y footer */
header,
footer {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
}

header > h1 {
  margin: 10px 0;
  text-align: center;
}
footer p {
  margin: 10px 0;
  text-align: right;
}
