* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 320px;
  background-color: chocolate;
  padding: 5px;
}

textarea {
  width: 100%;
}
label {
  display: inline-block;

  width: 250px;
}
